$fontFamilySource: 'Source Sans Pro', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$inLine: inline-block;
$BackgroundBody: white;
$markerBackground: rgb(20, 160, 199);
$colorParagraphSectionCard: white;
$colorTextSectionCard: rgb(88, 88, 92);
$divBackground: rgb(33, 35, 46);
$backgroundImage: url(../img/m-h-day.jpg);
$colorTextHeader:rgb(58, 56, 56);
$colorLandingLogo: black;
$colorButton: rgb(105, 153, 0);
$colorLinearGradientStart: rgb(46, 92, 213);
$colorLinearGradientEnd: rgb(99, 147, 20);
$bannerText: silver;

