$fontFamilySource: 'Source Sans Pro', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$BackgroundBody: rgb(33, 35, 46);
$inLine: inline-block;
$markerBackground: rgb(255, 78, 51);
$colorParagraphSectionCard: white;
$colorTextSectionCard: white;
$divBackground: rgb(59, 63, 80);
$backgroundImage: url(../img/m-h-night.jpg);
$colorTextHeader:white;
$colorLandingLogo: white;
$colorButton: rgb(227, 172, 0);
$colorLinearGradientStart: rgb(148, 47, 81);
$colorLinearGradientEnd: rgb(222, 164, 6);
$bannerText: silver;